# Easier navigation: .., ..., ~ and -
alias ..="cd .."
alias ...="cd ../.."
alias -- -="cd -"

# Color output for ls with .dir_colors
if [ "$TERM" != "dumb" ]; then
    export LS_OPTIONS='--color=auto'
    eval `gdircolors ~/.dir_colors`
fi
alias ls='gls $LS_OPTIONS -hF'
alias ll='gls $LS_OPTIONS -lhF'

# Start an HTTP server from a directory
alias server="open http://localhost:8080/ && python -m SimpleHTTPServer 8080"

# OS X has no `md5sum`, so use `md5` as a fallback
type -t md5sum > /dev/null || alias md5sum="md5"

# Recursively delete `.DS_Store` files
alias cleanup="find . -name '*.DS_Store' -type f -ls -delete"

# Copy the current directory to clipboard
alias cpd="pwd | pbcopy"

# grep color
alias grep="grep --color='auto'"

# edit hosts file
alias hosts="sudo mvim /etc/hosts"

# warn if overwriting file when using mv
alias mv="mv -i"

# megaclean (delete target/ folders) all sbt/play projects in a given directory
alias megaclean="find . -name target | xargs rm -Rf"

# tree ignores target
alias tree="tree -I 'target|target-*'"

# ag defaults to case-sensitive
alias ag="ag -s"

# paste from clipboard and pretty print JSON
alias pj="pbpaste | jq ."
alias pastejson="pj"
