# ruby gems
export PATH=/usr/local/opt/ruby/bin:$PATH

# Homebrew /bin folder is before /usr/bin on $PATH
export PATH=/usr/local/bin:$PATH
export PATH="$HOME/.cargo/bin:$PATH"

# Make vim the default editor
export EDITOR="vim"

# Don’t clear the screen after quitting a manual page
export MANPAGER="less -X"

# Larger bash history (allow 32³ entries; default is 500)
export HISTSIZE=32768
export HISTFILESIZE=$HISTSIZE
export HISTCONTROL=ignoredups

# Make some commands not show up in history
export HISTIGNORE="ls:ls *:cd:cd -:pwd;exit:date:* --help"

# less pager basic colors
export LESS_TERMCAP_mb=$'\E[01;31m'
export LESS_TERMCAP_md=$'\E[01;31m'
export LESS_TERMCAP_me=$'\E[0m'
export LESS_TERMCAP_se=$'\E[0m'
export LESS_TERMCAP_so=$'\E[01;44;33m'
export LESS_TERMCAP_ue=$'\E[0m'
export LESS_TERMCAP_us=$'\E[01;32m'

# Java options
export JAVA_OPTS="-XX:ReservedCodeCacheSize=256m -XX:MaxMetaspaceSize=512m"

# sbt options since it doesn't pick up JAVA_OPTS
export SBT_OPTS="-XX:ReservedCodeCacheSize=256m -Xmx4096m"

