# Create a new directory and enter it
function md() {
  mkdir -p "$@" && cd "$@"
}

# calls `mr` for parallel repo management and ctags script
function regen() {
  mr --directory ~/ --jobs 4 update
  printf "\n~~~ regenerating ctags ~~~\n"
  sh ~/.dotfiles/ctags.sh
  printf "\n"
}
