# Create a new directory and enter it
function md() {
  mkdir -p "$@" && cd "$@"
}
# ImageMagick mass resize to edits/:filename
function massresize() {
	for i in *.jpg; 
	do echo "$i"; 
	convert "$i" -resize 640x "edits/$i";
	done;
}

